{% extends 'seedofr/index.html' %}

{% block content %}
   <div class="post">
        {% if data.published_date %}
            <div class="date" >
                 <img src="../../{{ image.name }}" width = "400" height = "300">
                <h1>Classfier  :  {{ ibm.name }}</h1>
                <h1>Condition  :  {{ ibm.classes }}</h1>
                <h1>Score  :  {{ ibm.score }}</h1>
            </div>
        {% endif %}
        <h1>{{ data.author }}</h1>
        <p>{{ data.text|linebreaksbr }}</p>
    </div>
{% endblock %}